
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: blueviolet;
    color: white; */
    font-family: 'Roboto', sans-serif;
}


.card{
    margin-top: 20rem;
    text-align: center;
    align-items: center;
}
.btn{
    width:10%;
}

.fem{
    width:44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap:23px;
    padding: 20px;
}
a{
    color:rgb(65, 64, 64);
    text-decoration: none;
    font-size: 22px;
}
.google{
    margin-top: 7%;
    width: 100%;
}
.goole-G{
    width:50%;
}
.goog-page{
    width:600px;
    text-align: center;
    height:500px;
    margin: auto;
}
.links{
    font-size: 12px;
    color: rgb(24, 24, 248);
}
/* .googs{
    font-size: 100px;
    margin-bottom: 40px;
} */
/* 
}
.goole-o{
    color: rgb(197, 31, 31);
}
.goole-oo{
    color: rgb(255, 221, 0);
}
.goole-L{
    color: rgb(70, 167, 22);
} */
.inputty::placeholder{
    font-size: 16px;
}
.list{
    font-size: 19px;
}
.searchy{
    margin-right: 10px;
    cursor: pointer;
    color:rgb(107, 106, 104);
    font-size: 17px;
    padding-left: 10px;
}
.imaggy{
    display: flex;
}
.micro{
    width: 25px;
    margin-left: 7px;
    margin-right: 6px;
    cursor: pointer;
    color: rgb(0, 42, 255);
}
.cam{
    
  width: 25px;
    cursor: pointer;
    align-items: center;
}
.search{

    /* width:47rem; */
   padding: 10px;
    text-align: center;
    align-items: center;
    display: flex;
    border-radius: 30px;
    border: none;
   box-shadow:  4px 2px 4px 2px rgb(222, 221, 221);
}
.search{
    width: 100%;
    height: 45px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    text-align: center;
    justify-content: center;
}
.inputty{
    align-items: center;
    padding: 5px;
    outline: none;
    border: none;
    height: 35px;
    width: 37rem;
}
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}
.btns{
    margin-top: 25px;
   display: flex;
   gap: 8px;
  
   justify-content: center;
   align-items: center;
}
.btnn:hover{
    border: 1px solid rgb(137, 136, 136);
}
.btn-1:hover{
    border: 1px solid rgb(137, 136, 136);
}
.btnn{
    cursor: pointer;
    width:20%;
    padding:8px;
    border: none;
   
}
.btn-1{
    cursor: pointer;
border: none;
padding:8px;
}
.niaja{
    padding: 20px;
}
.foot{
    display: flex;
    gap:6px;
    margin-top: 6px;
    justify-content: center;
}
.bottom{
    background-color:rgb(222, 221, 221);
   position: absolute;
   width: 100%;
   bottom: 0;
   right: 0;
    /* height: 15vh; */
}
.foott{
    font-size: 16px;
    margin: 20px;
}
.foot-ter{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.carb{
    font-size: 18px;
}
.carbon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.carbonn{
    width:40px;
}

@media screen and (max-width:480px){
    .goog-page{
        width: 320px;
       
    }
    .niaja{
        padding: 8px;
    }
    .inputty::placeholder{
        font-size: 12px;
    }
    .carbon1{
        display: grid;
    }
    .foott{
        font-size: 12px;
        padding:8px;
    }
    .advert{
        display: grid;

    }
    .foot-ter{
        align-items: flex-end;
    }
    .carbonn{
        width:20px;
    }
    .carb{
        font-size: 12px;
    }
    .fem{
        width:30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    } 
    .list{
        font-size: 14px;
    }
    nav{
        gap:15px;
    }
    .links{
        font-size: 10px;
        color: rgb(24, 24, 248);
    }
    
    .btn-1{
        font-size: 7px;
    }
    .btnn{
        font-size: 7px;
    }
    .bottom{
       
        height: 20vh;
    }
    }